<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" runat="server" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" runat="server" asp-append-version="true">
    <script src="~/lib/jquery/jquery.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand">SurveyMe</a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole(RoleNames.Admin))
                        {
                            
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Surveys" asp-action="Index">Surveys</a>
                        </li>
                    }*@
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Surveys" asp-action="Index">Surveys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                </ul>

                @*@if (!User.Identity.IsAuthenticated)
                {
                    <div class="btn-group">
                        <button onclick="document.location = '@Url.Action("Login", "Account")'" 
                                class="btn btn-light">
                            Sign In
                        </button>
                        <button onclick="document.location = '@Url.Action("Registration", "Account")'" 
                                class="btn btn-primary">
                            Sign Up
                        </button>
                    </div>
                }
                else
                {
                    <button onclick="document.location = '@Url.Action("SignOut", "Account")'" 
                            class="btn btn-light">
                        SignOut
                    </button>
                }*@
            </div>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
@await RenderSectionAsync("Scripts", false)
</body>
</html>